<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido/a, {{ username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombre: {{ nombre }}</p>
      <p>Apellido: {{ apellido }}</p>
      <p>Nivel de educación: {{ nivelEducacion }}</p>
      <p>Fecha de nacimiento: {{ fechaNacimiento }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
