.image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  z-index: 10;
  position: relative;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.responsive-img {
  max-width: 50%;
  height: auto;
  margin-top: 20px; 
  margin-bottom: 20px;
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.app-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.animated-input {
  transition: transform 1s ease; // Define la transición para el movimiento
}

.animate-input { // Clase adicional para activar la animación
  transform: translateX(100%); // Mueve los elementos 100% hacia la derecha
}
