<ion-content id="logoapp">
  <ion-grid class="image-grid">
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/img/logo.png" alt="Logo" class="responsive-img">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content>
  <div id="container">
    <app-menu></app-menu>
  </div>
    <div class="centered-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bienvenido/a</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Interpolación del nombre de usuario -->
          <p>{{ username }}</p>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="apellido" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nivel de educación</ion-label>
            <ion-input [(ngModel)]="nivelEducacion" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha de nacimiento</ion-label>
            <ion-input [(ngModel)]="fechaNacimiento" type="date"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="limpiar()">Limpiar</ion-button>
          <ion-button expand="block" (click)="mostrar()">Mostrar</ion-button>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigateTo('buscador')">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscador</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="navigateTo('historial')">
        <ion-icon name="time"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

                                             